.header {
  min-width: 100%;
}
.form {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.input {
  font-size: 18px;
  padding: 10px;
  width: 300px;
  height: auto;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background: transparent;
}
.btn {
  border: 1px solid #ffffff;
}
